@model Consultas.Models.ViewModels.Login
@{
    ViewBag.Title = "Iniciar Sesión";
}

<div class="row m-5">
    <div class="col-6 text-center mx-auto">
        <div class="card h-100">
            <h2 class="card-header" style="border-color: #999;">Instituto San Martín de Porres</h2>

            <img src="~/Content/logo.jpg" class="rounded mt-3 mx-auto" alt="logo" width="64">

            <div class="card-body">
                <h3 class="card-title">Iniciar sesión</h3>

                <div class="card-text">
                    @using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control text-center" } })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control text-center", type = "password" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Iniciar sesión" class="btn btn-primary btn-block" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <style type="text/css">
        .validation-summary-errors ul {
            list-style-type: none;
        }
    </style>
}
