@model IEnumerable<Consultas.Models.CursoAlumnoWeb>

<p class="mt-5">
    Estos son los cursos en los que está inscripto actualmente:
</p>

<table class="table w-50">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Curso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carrera)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Curso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carrera)
        </td>
        <td>
            @Html.ActionLink("Ver estado", "Details", new { id=item.Id}, new { @class = "detail" })
        </td>
    </tr>
}

</table>
