@model IEnumerable<Consultas.Models.CursoAlumnoWeb>

<div class="list-group list-group-flush" style="font-size: small;">
    <a href="#" class="list-group-item list-group-item-action detail disabled" id="listheader" 
       style="color: brown; padding: 0;">
        <h4>Sus cursos</h4>
    </a>
@foreach (var item in Model)
{    
    <a href="@Url.Action("Details", new { id=item.Id})" style="padding: 5px;"
       class="list-group-item list-group-item-action detail" id="@("lnk" + item.Id)">
        @(String.Format("{0} de {1}", item.Curso, item.Carrera))
    </a>
}
@foreach (var item in Model)
{
    <a href="@Url.Action("Details", new { id=item.Id})"  style="padding: 5px;"
       class="list-group-item list-group-item-action detail" id="@("lnk1" + item.Id)">
        @(String.Format("{0} de {1}", item.Curso, item.Carrera))
    </a>
}
</div>
