@model Consultas.Models.PagoWeb

@if (Model == null)
{
    <span>No hay cuotas pendientes de pago.</span>
}
else
{
    <div class="row">
        <div class="col-sm">
            Próxima Cuota: @((Model.NroCuota == 0) ? "Matrícula" : Model.NroCuota.ToString())
        </div>
        <div class="col-sm text-left">
            Importe: @Model.ImporteCuota.ToString("C2")
        </div>
        <div></div>
    </div>
    if (Model.ImportePagoTermino > 0 && Model.FechaVtoPagoTermino >= Consultas.Lib.Configuration.CurrentDate.Date)
    {
        <div class="row mt-3 text-justify">
            <div class="col">
                Si paga hasta el <strong>@String.Format("{0:dd 'de' MMMM}", Model.FechaVtoPagoTermino)</strong>
                tendrá una bonificación de <strong>@((Model.ImportePagoTermino ?? 0).ToString("C2"))</strong>.
            </div>
        </div>
    }
    if (Model.PorcentajeBeca > 0)
    {
        <div class="row mt-3">
            <div class="col">
                Usted tiene una beca de <strong>%@Model.PorcentajeBeca.Value.ToString("0")</strong>
                equivalente a <strong>@((Model.ImporteBeca ?? 0).ToString("C2"))</strong>.
            </div>
        </div>
    }
    if (Model.Vencido)
    {
        <div class="row mt-3">
            <div class="col">
                <div class="alert alert-danger text-center" role="alert" style="padding: 0 1.25em;">
                    Esta cuota se encuentra vencida.
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="text-right mt-3 col">
            <button type="button" class="btn btn-light text-primary" data-toggle="modal" data-target="#modSelFechaCompromiso">
                Imprimir Cupón de Pago
            </button>
        </div>
    </div>

    <div class="modal fade" id="modSelFechaCompromiso" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-light">
                    <h5 class="modal-title font-weight-bolder" id="exampleModalCenterTitle">Imprimir Cupón de Pago</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-7 offset-3">
                            <span>Fecha de Pago: </span>
                            @Html.TextBox("fechaCompromiso",
                                Consultas.Lib.Configuration.CurrentDate.Date.ToString("yyyy-MM-dd"),
                                new { type = "date", id = "fechaCompromiso" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @Html.ActionLink("Imprimir", "ImprimirCupon", null,
                        new { @class = "btn btn-primary", target = "_blank", role = "button", id = "lnkImprimir" })
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="reporte">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cupón de pago</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
            </div>
        </div>
    </div>
}
